/* horizontal line */
hr {
    border: 0;
    border-top: 1px solid #eee;
}

/* highlighting code background */
code {
    background-color: #444;
}

/* floating box used for displaying file content on half of the screen */
.floatingHalfBox {
    float: left;
    width: 49%;
    margin: 0.5%;
}

/* floating box used for displaying file content */
.floatingBox {
    margin: 0.5%;
}

.grayWhiteTable {
    width: 70%;
    border: solid 1px black;
    border-collapse: collapse;
}

.light {
    background-color: #444;
}
body {
    font-family: 'Kodchasan', sans-serif;
    background: #222;
    color: #EEE;
}

h1, h2, h3 {
    color: rgb(57, 182, 231);
}

strong {
    color: rgb(99, 202, 243);
}

pre {
    overflow: auto;
}